/* Áa !*/ 
// Media Queries
$desktop: 774px;
$mobile: 775px;

// Pattern Colors
$pk-color: #fff;
$sk-color: #d3d3d3;
$tk-color: #EFEFEF;



// Font Color
$font-color: #555555;
$font-color2: #757575;
$font-color-hover: #CCCCCC;

// Inter Font - Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

// Fonts fo use
$inter: "Inter";
$josefin-sans: "Josefin Sans";


body {
    // Reset
    padding: 0;
    margin: 0;
    line-height: none;
 
    @media(max-width: $mobile){
        section {
            padding-top: 7vh;
            flex-wrap: wrap;

        }
        #top-header {
            height: 20vh;
            // background-color: aqua;
            background-image: url("../../../assets/images/background1.png");
            // background-attachment: ;
            background-repeat: no-repeat;
            background-size: cover;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            
            div {
                // background-color: aquamarine;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
        
                width: 100vw;
        
                h1 {
                    // background-color: blanchedalmond;
        
                    font-size: 34px;
                    font-family: $inter;
                    font-weight: normal;
                    margin: -10px;
                }
                #ornament {
                    display: flex;
                    flex-direction: center;
                    height: 5vh;
                    width: 80%;
                    // background-color: blue;
                    img {
                        height: 70%;
                    }
                    margin-bottom: 12px;
                }
            }
            
        }
        #discography {
            
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            margin-bottom: 20vh;
          
            .container {
                --columns: 2;
                max-width: 30rem;
                margin: 0 auto;
                display: row;
                columns: var(--columns);
                .image {
                    margin: 12px;
                    overflow: hidden;
                    height: fit-content;
                    border-radius: 8px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: transform 0.9s ease-in-out;
                    transition: opacity 0.4s ease-in-out;
                    a {
                        display: block;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                        transition: transform 0.3s ease-in-out;
                    }
                }
                .image:hover {
                    opacity: 0.5;
                }
            }
            
        }
        
    }

    // Desktop Style
    @media (min-width: $desktop) {
        section {
            padding-top: 7vh;
            flex-wrap: wrap;

        }
        #top-header {
            height: 20vh;
            // background-color: aqua;
            background-image: url("../../../assets/images/background1.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            
            div {
                // background-color: aquamarine;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
        
                width: 70vw;
        
                h1 {
                    // background-color: blanchedalmond;
        
                    font-size: 55px;
                    font-family: $inter;
                    font-weight: normal;
                    margin: -10px;
                }
                #ornament {
                    display: flex;
                    flex-direction: center;
                    height: 5vh;
                    width: 100%;
                    // background-color: blue;
                }
            }
            
        }
        #discography {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;

            margin-bottom: 10vh;
          
            .container {
                --columns: 4;
                max-width: 60rem;
                margin: 0 auto;
                display: row;
                flex-wrap: wrap;
                columns: var(--columns);
                .image {
                    margin: 12px;
                    overflow: hidden;
                    height: fit-content;
                    border-radius: 8px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: transform 0.9s ease-in-out;
                    transition: opacity 0.4s ease-in-out;
                    flex: 1 0 22%;
                    a {
                        display: block;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                        transition: transform 0.3s ease-in-out;
                    }
                }
                .image:hover {
                    opacity: 0.5;
                }
            }
            
        }
        
            
  
        
    }
}

