@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* Fonts for use*/
$josefin-sans: "Josefin Sans";

body {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s ease-out; 

    main {
        // background-color: aquamarine;
        height: 100vh;
        width: 100%;
        background-image: url("../../../images/vanilla2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
        
        img{
            max-width: 400px;
            min-width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Opacidade inicial */
    }
    to {
      opacity: 100; /* Opacidade final */
    }
}
