/* Áa !*/ 
// Media Queries
$desktop: 774px;
$mobile: 775px;

// Pattern Colors
$pk-color: #fff;
$sk-color: #d3d3d3;


// Font Color
$font-color: #555555;
$font-color-hover: #CCCCCC;

body {
    // Reset
    padding: 0;
    margin: 0;
    line-height: none;

    @media(max-width: $desktop){
        background-color: $font-color-hover;
        margin: 0;

        header {
            position: fixed;
            background-color: $pk-color;
            width: 100vw;
            font-size: 21px;
            flex-wrap: wrap;

            nav {
                height: auto;
                // margin-top: 12px;
                // padding: 21px;



                span {
                    // padding: 21px;
                  
                    
                    
                    #menu {
                        margin: 12px;
                        width: 8em;
                        padding: 20px;
                        font-size: 12px;
                        text-decoration: none;
                        border: none;
                        background-color: $sk-color;

                        border-radius: 12px;

                        cursor: pointer;
                        }
                }

                ul {
                    height: 50vh;
                    overflow-y: auto;
                    overflow-x: hidden;

                    text-decoration: none;
                    list-style: none;
                    margin: 0;  /* Remove a margem padrão */
                    padding: 0; /* Remove o padding padrão */
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;  /* Ajustado para alinhamento correto */
                    text-align: right;

                    display: flex;
                }

                li {
                    margin: 0; /* Remover a margem indesejada */
                    width: 100%;  /* Fazer o li ocupar 100% da largura disponível */
                    padding: 10px 0;  /* Pequeno padding para criar espaço entre os itens */

                    a {
                        display: block;  /* Faz o link ocupar toda a largura do li */
                        text-decoration: none;
                        color: $font-color;
                        transition: transform 0.3s ease;
                        width: 100%;
                        padding: 10px 20px;  /* Padding para distanciar o texto da borda */
                        box-sizing: border-box;  /* Garante que o padding não afete o tamanho total */
                    }

                    a:hover {
                        text-decoration: none;
                        // transform: scale(1.02);
                    }

                    &:hover {
                        background-color: $font-color-hover;
                    }
                }
                #social {
                    margin: 0; /* Remove a margem */
                    width: 100%; /* Faz com que ocupe toda a largura disponível */
                    padding: 10px 0;  /* Mesma altura que o li para manter o espaçamento consistente */
                    background-color: transparent; /* Não interfere com o fundo do li */
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;

                    a {
                        display: block;  /* O link dentro de #social deve ser clicável */
                        text-decoration: none;
                        color: $font-color;
                        padding: 10px 20px;  /* Padding para distanciar o texto da borda */
                        transition: transform 0.3s ease;
                    }

                    a:hover {
                        text-decoration: none;
                    }

                
                }
            }
        } 
    }

    // Desktop Style
    @media (min-width: $mobile) {

        background-color: green;



        header {
            position: fixed;

            background-color: $pk-color;
            width: 100vw;
            padding: 0.5em;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;


            font-size: 21px;

            span {
                display: none;
            }

            nav ul{

                text-decoration: none;
                list-style: none;
                
                display: flex;
                align-items: center;
                justify-content: center;

                flex-wrap: wrap;
                gap: 2em;

                text-align: center;


                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $font-color;

                    // padding: 30px;
                    transition: transform 0.3s ease;
                    
                }

                a:hover {
                    text-decoration: none;
                    color: $font-color-hover;

                    // padding: 30px;
                    transform: scale(1.15);
                }

                #social {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    gap: 2em;
                }
            }
        }
        



    }
}