@charset "UTF-8";
/* Áa !*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
body {
  padding: 0;
  margin: 0;
  line-height: none;
}
@media (max-width: 775px) {
  body section {
    padding-top: 7vh;
    flex-wrap: wrap;
  }
  body #top-header {
    height: 20vh;
    background-image: url("../../../assets/images/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #top-header div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  body #top-header div h1 {
    font-size: 34px;
    font-family: "Inter";
    font-weight: normal;
    margin: -10px;
  }
  body #top-header div #ornament {
    display: flex;
    flex-direction: center;
    height: 5vh;
    width: 80%;
    margin-bottom: 12px;
  }
  body #top-header div #ornament img {
    height: 70%;
  }
  body #discography {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20vh;
  }
  body #discography .container {
    --columns: 2;
    max-width: 30rem;
    margin: 0 auto;
    display: row;
    columns: var(--columns);
  }
  body #discography .container .image {
    margin: 12px;
    overflow: hidden;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.9s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }
  body #discography .container .image a {
    display: block;
  }
  body #discography .container .image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  body #discography .container .image:hover {
    opacity: 0.5;
  }
}
@media (min-width: 774px) {
  body section {
    padding-top: 7vh;
    flex-wrap: wrap;
  }
  body #top-header {
    height: 20vh;
    background-image: url("../../../assets/images/background1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #top-header div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
  }
  body #top-header div h1 {
    font-size: 55px;
    font-family: "Inter";
    font-weight: normal;
    margin: -10px;
  }
  body #top-header div #ornament {
    display: flex;
    flex-direction: center;
    height: 5vh;
    width: 100%;
  }
  body #discography {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10vh;
  }
  body #discography .container {
    --columns: 4;
    max-width: 60rem;
    margin: 0 auto;
    display: row;
    flex-wrap: wrap;
    columns: var(--columns);
  }
  body #discography .container .image {
    margin: 12px;
    overflow: hidden;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.9s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    flex: 1 0 22%;
  }
  body #discography .container .image a {
    display: block;
  }
  body #discography .container .image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  body #discography .container .image:hover {
    opacity: 0.5;
  }
}

/*# sourceMappingURL=discography.css.map */
