@charset "UTF-8";
/* Áa !*/
body {
  padding: 0;
  margin: 0;
  line-height: none;
}
@media (max-width: 774px) {
  body {
    background-color: #CCCCCC;
    margin: 0;
  }
  body header {
    position: fixed;
    background-color: #fff;
    width: 100vw;
    font-size: 21px;
    flex-wrap: wrap;
  }
  body header nav {
    height: auto;
  }
  body header nav span #menu {
    margin: 12px;
    width: 8em;
    padding: 20px;
    font-size: 12px;
    text-decoration: none;
    border: none;
    background-color: #343452;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease;
    z-index: 3;
  }
  body header nav #menu:hover {
    padding: 21px;
    background-color: #CCCCCC;
  }
  body header nav ul {
    z-index: 1;
    height: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: right;
    display: none;
    transition: height 2s ease-in-out;
  }
  body header nav ul.show {
    height: 50vh;
    display: flex;
  }
  body header nav li {
    margin: 0; /* Remover a margem indesejada */
    width: 100%; /* Fazer o li ocupar 100% da largura disponível */
    padding: 10px 0; /* Pequeno padding para criar espaço entre os itens */
  }
  body header nav li a {
    display: block; /* Faz o link ocupar toda a largura do li */
    text-decoration: none;
    color: #555555;
    transition: transform 0.3s ease;
    width: 100%;
    padding: 10px 20px; /* Padding para distanciar o texto da borda */
    box-sizing: border-box; /* Garante que o padding não afete o tamanho total */
  }
  body header nav li a:hover {
    text-decoration: none;
  }
  body header nav li:hover {
    background-color: #CCCCCC;
  }
  body header nav #social {
    margin: 0; /* Remove a margem */
    width: 100%; /* Faz com que ocupe toda a largura disponível */
    padding: 10px 0; /* Mesma altura que o li para manter o espaçamento consistente */
    background-color: transparent; /* Não interfere com o fundo do li */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  body header nav #social a {
    display: block; /* O link dentro de #social deve ser clicável */
    text-decoration: none;
    color: #555555;
    padding: 10px 20px; /* Padding para distanciar o texto da borda */
    transition: transform 0.3s ease;
  }
  body header nav #social a:hover {
    text-decoration: none;
  }
}
@media (min-width: 775px) {
  body {
    background-color: green;
  }
  body header {
    position: fixed;
    background-color: #fff;
    width: 100vw;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 21px;
  }
  body header span {
    display: none;
  }
  body header nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    text-align: center;
  }
  body header nav ul a {
    display: inline-block;
    text-decoration: none;
    color: #555555;
    transition: transform 0.3s ease;
  }
  body header nav ul a:hover {
    text-decoration: none;
    color: #CCCCCC;
    transform: scale(1.15);
  }
  body header nav ul #social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
}

/*# sourceMappingURL=menu.css.map */
